h4 {
    font-size: 20px;
    position: fixed;
    left: 60%;
    color: #2a70ad;
    text-align: center;
    text-transform: capitalize;
}

#b {
    width: 500px;
}

p {
    color: #4b9303;
    font-weight: 1000;
    font-size: 25px;
}